@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: flex;   
}


section#contact {
    background-color: gray;
    background-image: url("../assets/img/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
}

